<div class="container">
  <div class="submit-form">
    <h1>Ask Coach</h1>
    <p>What would you like to ask coach</p>
    <form action="/answer">
      <input type="text" name="ask">
      <input class="button" type="submit" value="Ask!">
    </form>
  </div>
</div>
